.management-card {
    display: flex;
    flex-direction: column;
}

.management-header {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
    background-color: ghostwhite;
    border-bottom: 2px solid lightgray;
}

.management-title {
    font-size: x-large;
}

.user-management-actions {
    padding: 10px 0px;
    a {
        padding: 10px 20px;
        margin-left: 10px;
        border: 1px solid;
        cursor: pointer;
        &:hover {
            background-color: lightgray;
        }
    }
}

.management-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    input[type="checkbox"] {
        cursor: pointer;
    }
}

.hidden-field {
    display: none;
}

.odd-row {
    background-color: ghostwhite;
}

.table-headers {
    background-color: lightgray;
}

.user-management-actions .disabled-when-none-checked {
    border-color: gray;
    color: gray;
    background-color: lightgray;
    cursor: not-allowed;
    &:hover {
        background-color: lightgray;
    }
}

.options {
    text-align: start;
    padding: 0 20px;
    margin: 30px;
    span {
        font-size: x-large;
        font-weight: bold;
    }
    td {
        padding: 2px 5px;
        input {
            padding: 3px 5px 3px 5px;
        }
        button {
            padding: 5px 15px;
            cursor: pointer;
        }
    }
    table {
        padding-bottom: 10px;
        border-bottom: 1px solid lightgray;
    }
}

.content-table {
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 10px 20px;
    }
    padding-bottom: 20px;
}

.action {
    cursor: pointer;
    background-color: whitesmoke;
    &:hover {
        background-color: lightgray;
    }
}

.no-cds-info {
    color: gray;
    background-color: whitesmoke;
    cursor: default;
}