.side-navigation {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: whitesmoke;
    border-right: 2px solid lightgray;
    align-items: center;
}

.side-navigation-entries {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: larger;
    a {
        padding: 15px 40px;
        border-bottom: 2px solid lightgray;
        text-decoration: none;
        color: black;
        &:hover {
            background-color: lightgray;
            cursor: pointer;
        }
    }
    .active-link {
        background-color: ghostwhite;
    }
}

.side-navigation-sign {
    text-align: center;
    padding: 10px 0px;
    font-family: "Brush Script MT", "Times New Roman", serif;
    font-size: x-large;
    font-weight: bold;
    text-shadow: 2px 2px lightgray;
    cursor: default;
}

.adm-input {
    padding: 3px 5px;
}

.adm-confirm-button {
    padding: 3px 5px;
}