<div class="side-navigation">
    <div class="side-navigation-entries">
        <a routerLink="cds/owned" routerLinkActive="active-link">Posiadane płyty CD</a>
        <a routerLink="cds/wanted" routerLinkActive="active-link">Pożądane płyty CD</a>
        <a routerLink="books/owned" routerLinkActive="active-link">Posiadane książki</a>
        <a routerLink="books/wanted" routerLinkActive="active-link">Pożądane książki</a>
        <!-- <a routerLink="statistics" routerLinkActive="active-link">Statystyki</a> -->
    </div>
    <div class="side-navigation-sign">
        #Kostrzewscy
    </div>
</div>