.side-navigation {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: whitesmoke;
    border-right: 2px solid lightgray;
}

.side-navigation-entries {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: larger;
    a {
        padding: 15px 40px;
        border-bottom: 2px solid lightgray;
        &:hover {
            background-color: lightgray;
            cursor: pointer;
        }
    }
}