<div class="side-navigation">
    <div class="side-navigation-entries">
        <a routerLink="cds/owned" routerLinkActive="active-link">Posiadane płyty CD</a>
        <a routerLink="cds/wanted" routerLinkActive="active-link">Pożądane płyty CD</a>
        <a routerLink="books/owned" routerLinkActive="active-link">Posiadane książki</a>
        <a routerLink="books/wanted" routerLinkActive="active-link">Pożądane książki</a>
    </div>
    <div class="adm-panel" *ngIf="showAdmPanel()">
        <input class="adm-input" type="text" placeholder="Podaj hasło">
        <button class="adm-confirm-button">Adminuj</button>
    </div>
    <div class="side-navigation-sign" (click)="admPanelSneakyClick()">
        #Kostrzewscy
    </div>
</div>