<div class="management-card">
    <div class="management-header">
        <div class="management-title">
            Lista posiadanych płyt
        </div>
        <div class="user-management-actions">
            <a (click)="addElement()">Dodaj</a>
            <a (click)="deleteCheckedElements()" [ngClass]="formManagement.anythingChecked() ? '' : 'disabled-when-none-checked'">Usuń</a>
            <a (click)="refreshElements()">Odśwież</a>
        </div>
    </div>
    <div class="management-content">
        <div class="options">
            <table>
                <tr>
                    <td colspan="7">
                        <span>Filtry</span>
                    </td>
                </tr>
                <div>
                    <tr>
                        <td>Zespół</td>
                        <td>Album</td>
                        <td colspan="3">Rok wydania</td>
                        <td>Gatunek</td>
                    </tr>
                    <tr>
                        <td><input type="text" placeholder="Zespół" size="10"></td>
                        <td><input type="text" placeholder="Album" size="10"></td>
                        <td><input type="text" placeholder="Od" size="1" [maxLength]="4"></td>
                        <td>-</td>
                        <td><input type="text" placeholder="Do" size="1" [maxLength]="4"></td>
                        <td><input type="text" placeholder="Gatunek" size="10"></td>
                        <td><button>Filtruj</button></td>
                    </tr>
                </div>
                <tr>
                    <td colspan="7">
                        <span>Sortowanie</span>
                    </td>
                </tr>
                <div>
                    <tr>
                        <td>
                            <select>
                        <option>Zespół</option>
                        <option>Album</option>
                        <option>Rok wydania</option>
                        <option>Gatunek</option>
                    </select>
                        </td>
                        <td>
                            <select>
                        <option>Rosnąco</option>
                        <option>Malejąco</option>
                    </select>
                        </td>
                        <td colspan="5"><button>Sortuj</button></td>
                    </tr>
                </div>
            </table>
        </div>
        <div class="content-table">
            <table>
                <thead class="table-headers">
                    <th><input id="mainCheckbox" (click)="formManagement.applyToAllCheckboxes($event.target!)" type="checkbox"></th>
                    <th>Zespół</th>
                    <th>Album</th>
                    <th>Rok wydania</th>
                    <th>Gatunek</th>
                    <th colspan="2">Akcje</th>
                </thead>
                <tr class="{{i%2 == 0 ? 'even':'odd'}}-row" *ngFor="let cd of cds, let i = index">
                    <td><input type="checkbox" name="single-element-checkbox" (click)="formManagement.updateMainCheckbox()"></td>
                    <td class="hidden-field">{{cd.id}}</td>
                    <td>{{cd.band}}</td>
                    <td>{{cd.album}}</td>
                    <td>{{cd.year}}</td>
                    <td>{{cd.genre}}</td>
                    <td class="action" (click)="editElement(cd)">Edytuj</td>
                    <td class="action" (click)="deleteElement(cd.id, false)">Usuń</td>
                </tr>
                <tr *ngIf="cds.length === 0">
                    <td colspan="6" class="no-cds-info">
                        Brak płyt
                    </td>
                </tr>
            </table>
        </div>
    </div>