.form-row .new-animal-type {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    align-items: center;
    input[type="checkbox"] {
        min-width: auto;
        margin: 0 5px;
    }
    input[type="text"] {
        min-width: 200px;
        margin-left: 10px;
    }
}

.single-disease {
    margin-bottom: 10px;
}

.remove-disease-button {
    padding: 2px 5px;
    margin-left: 5px;
}

.add-next-disease-button {
    width: fit-content;
    padding: 3px 6px;
    margin-bottom: 10px;
}